
!! Xresources config

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*background:                      #0a0d11
*foreground:                      #FFFFFF
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #282A2E
*color8:                          #373B41

!! red dark/light
*color1:                          #A54242
*color9:                          #CC6666

!! green dark/light
*color2:                          #49B77B
*color10:                         #49B77B

!! yellow dark/light
*color3:                          #DE935F
*color11:                         #F0C674

!! blue dark/light
*color4:                          #43AAC0
*color12:                         #81A2BE

!! magenta dark/light
*color5:                          #85678F
*color13:                         #B294BB

!! cyan dark/light
*color6:                          #5E8D87
*color14:                         #5E8D87

!! white dark/light
*color7:                          #C5C8C6
*color15:                         #C5C8C6

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0
